<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">Bug Demos</a>

      <ul class="pure-menu-list">
          <li class="pure-menu-item" routerLinkActive="pure-menu-selected"><a routerLink="/dropdown" class="pure-menu-link">Dropdown</a></li>
          <li class="pure-menu-item" routerLinkActive="pure-menu-selected"><a routerLink="/tabs" class="pure-menu-link">Tabs</a></li>
      </ul>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
